.header{
    background-color: skyblue;
    height:50px;
    position: fixed;
    padding:10px 0 10px 20px;
    font-weight: bold;
    font-size: 2em;
    text-transform: capitalize;
    width:100%;
    z-index: 10;
}

.push-top-50{
    margin-top:50px;
}

